.spoiler-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 48px;
}

.spoiler-text::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #797979;
  transition: opacity 0.2s ease;
}

/* revealed state */
.spoiler-text.revealed::after {
  opacity: 0;
  pointer-events: none;
}
